extend layout
block append foot
	.container
		.row.wallpaper#top
			.six.columns
				h2 We Are Creative nerds
				p Boudin doner frankfurter pig. Cow shank bresaola pork loin tri-tip tongue venison pork belly meatloaf short loin landjaeger biltong beef ribs shankle chicken andouille.
				button SIGN UP
			.six.columns
				img.u-max-full-width.back(src="images/home/slider/hill.png")
				img.u-max-full-width.back(src="images/home/slider/house.png")
				img.u-max-full-width.back(src="images/home/slider/birds1.png")
				img.u-max-full-width.back(src="images/home/slider/birds2.png")
				img.u-max-full-width.back(src="images/home/slider/sun.png")

