extend layout
block append foot
    .row
        .twelve.columns.portfolioBar
            .container
                .row
                    h1.margin-less Price Table
                    p Configure your pricing table
    .container
        .row
            .twelve.columns
                .three.colums
                    img.u-max-full-width(src="images/pricing/titulo1.png")
                .three.colums
                    img.u-max-full-width(src="images/pricing/titulo2.png")
                .three.colums
                    img.u-max-full-width(src="images/pricing/titulo3.png")
                .three.colums
                    img.u-max-full-width(src="images/pricing/titulo4.png")