doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Triangle/Blog
        link(rel="icon" href="images/ico/apple-touch-icon-57-precomposed.png" type="image/x-icon")
        link(rel="stylesheet", href="../src/css/style.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
        link(href="https://fonts.googleapis.com/css?family=Lato:300,400" rel="stylesheet")
    body
        header
             .container
                 .row
                    .offset-by-nine.three.columns
                        i.fa.fa-facebook.fa-lg(aria-hidden="true")
                        i.fa.fa-twitter.fa-lg(aria-hidden="true")
                        i.fa.fa-google-plus.fa-lg(aria-hidden="true")
                        i.fa.fa-dribbble.fa-lg(aria-hidden="true")
                        i.fa.fa-linkedin.fa-lg(aria-hidden="true")
                 .row
                    .twelve.columns
                        nav.small-font
                             ul
                                li.right-brand
                                    img.vertical(src="images/logo.png")
                                li
                                    li
                                        a HOME
                                    li
                                        a PAGES
                                    li
                                        a BLOG
                                    li
                                        a PORTFOLIO
                                    li
                                        a SHORTCODES
                                    li
                                        a
                                            i.fa.fa-search.fa-lg(aria-hidden="true")
         .row
            .twelve.columns.portfolioBar
                .container
                    h1.margin-less Blog
                    p Blog with left sidebar

         .container.heighline
            mixin thumbnails(imagen, etiqueta, titulo, subt, texto, view, love, comments)

                    img.u-max-full-width(src="images/blog/masonary/#{imagen}.jpg")
                    i.fa.fa-tag(aria-hidden="true") Creative
                    h5 Advanced Bussiness cards design
                    spam Posted by Micron news
                    p Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero [...]
                    p View more
                    span
                        i.fa.fa-heart(aria-hidden="true") 32 Love
                    span
                        i.fa.fa-comments(aria-hidden="true") 3 Comments
                    hr
            .row
                .three.columns
                    +thumbnails(1)
                    +thumbnails(4)
                    +thumbnails(9)
                .three.columns
                    +thumbnails(3)
                    +thumbnails(2)
                    +thumbnails(4)
                .three.columns
                    +thumbnails(6)
                    +thumbnails(10)
                .three.columns
                    +thumbnails(8)
                    +thumbnails(3)
                    +thumbnails(7)

